header.header
	a(href='' class="inner-left") Quản lý khách sạn 
	.inner-right
		button.inner-button
			.inner-icon 
			.inner-number 6
			.inner-tick
		.inner-profile 
			.inner-inf 
				.inner-name Nguyễn Văn A 
				.inner-role Admin
			.inner-logo
		.inner-menu 
			<i class="fa-solid fa-bars"></i>