header.header
	a(href='/dashboard' class="inner-left") Quản lý khách sạn 
	.inner-right
		button.inner-button
			.inner-icon 
			.inner-number 6
			.inner-tick
		.inner-profile 
			.inner-inf 
				.inner-name #{account.full_name}
				.inner-role #{account.role}
			.inner-logo
		.inner-menu 
			<i class="fa-solid fa-bars"></i>