nav.sider
	ul.inner-menu
		li
			a(href='')
				<i class="fa-solid fa-gauge-high"></i>
				label.inner-label Tổng quan 
		li
			a(href='')
				<i class="fa-solid fa-table-cells-large"></i>
				label.inner-label Quản lý phòng
		li
			a(href='')
				<i class="fa-solid fa-table-list"></i>
				label.inner-label Lập phiếu thuê
		li
			a(href='')
				<i class="fa-solid fa-list-check"></i>
				label.inner-label Lập báo cáo
		li
			a(href='')
				<i class="fa-solid fa-user"></i>
				label.inner-label Quản lý nhân viên
	hr
	ul.inner-menu
		li
			a(href='')
				<i class="fa-solid fa-gear"></i>
				label.inner-label Cài đặt chung
		li
			a(href='')
				<i class="fa-solid fa-user-gear"></i>
				label.inner-label Thông tin cá nhân
		li
			a(href='').logout
				<i class="fa-solid fa-power-off"></i>
				label.inner-label Đăng xuất
div.inner-overlay