@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  --color-primary: #4880ff;
  --color-text: #202224;
}

* {
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
}

a {
  text-decoration: none;
}

input,
button,
select,
textarea {
  outline: none;
}

/* Page-account */

.page-account {
  background-image: url("../images/background-account.png");
  width: 100%;
  min-height: 100vh;
  padding: 50px 10px;
  background-position: center;
  background-size: cover;
}

/* End Page-account */

/* Form-account */
.form-account {
  max-width: 630px;
  height: auto;
  padding: 90px 57px;
  background-color: #ffffff;
  border-radius: 24px;
  border: 0.3px solid #b9b9b9;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-account .inner-title {
  margin: 0;
  font-weight: 700;
  font-size: 32px;
  color: var(--color-text);
  margin-bottom: 15px;
}

.form-account .inner-desc {
  font-weight: 600;
  font-size: 18px;
  color: var(--color-text);
  margin-bottom: 40px;
}

.form-account .inner-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.form-account .inner-form .inner-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: relative;
}

.form-account .inner-form .inner-group .just-validate-error-label {
  position: absolute;
  bottom: -20px;
  left: 0;
  font-size: 14px;
  color: #ff0000;
}

.form-account .inner-form .inner-group label {
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  color: var(--color-text);
  text-align: left;
}

.form-account .inner-form .inner-group .inner-control {
  width: 100%;
  padding: 18px;
  background-color: #f1f4f9;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  font-size: 18px;
}

.form-account .inner-form .inner-group .inner-control::placeholder {
  color: #a6a6a6;
  font-weight: 600;
  font-size: 18px;
  text-align: left;
}

.form-account .inner-form .inner-meta {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form-account .inner-form .inner-meta .inner-confirm {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  position: relative;
}

.form-account .inner-form .inner-meta .inner-confirm .just-validate-error-label {
  position: absolute;
  left: 0;
  bottom: -20px;
  font-size: 14px;
  color: #ff0000;
}
.form-account .inner-form .inner-meta a {
  font-weight: 600;
  font-size: 18px;
  color: var(--color-text);
  opacity: 0.6;
}

.form-account .inner-form .inner-button {
  width: 100%;
  padding: 14px 0;
  background-color: var(--color-primary);
  border: none;
  border-radius: 8px;
  opacity: 0.9;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}

.form-account .inner-more {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.form-account .inner-more span {
  font-weight: 600;
  font-size: 18px;
  color: var(--color-text);
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-account .inner-more a {
  font-weight: 700;
  font-size: 18px;
  text-decoration: underline solid var(--color-primary);
  color: var(--color-primary);
}

@media (max-width: 575.98px) {
  .form-account {
    padding: 40px 20px;
  }
}

/* End Form-account */

/* Text */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

/* End Text */

/* Checkbox-wrapper-30 */

.checkbox-wrapper-30 {
  height: 24px;
}

.checkbox-wrapper-30 .checkbox {
  --bg: #fff;
  --brdr: #d1d6ee;
  --brdr-actv: #1e2235;
  --brdr-hovr: #bbc1e1;
  --dur: calc((var(--size, 2) / 2) * 0.6s);
  display: inline-block;
  width: calc(var(--size, 1) * 24px);
  height: calc(var(--size, 1) * 24px);
  position: relative;
}

.checkbox-wrapper-30 .checkbox:after {
  content: "";
  width: 100%;
  padding-top: 100%;
  display: block;
}

.checkbox-wrapper-30 .checkbox > * {
  position: absolute;
  top: auto;
  bottom: auto;
}

.checkbox-wrapper-30 .checkbox input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  background-color: var(--bg);
  border-radius: calc(var(--size, 1) * 4px);
  border: calc(var(--newBrdr, var(--size, 1)) * 1px) solid;
  color: var(--newBrdrClr, var(--brdr));
  outline: none;
  margin: 0;
  padding: 0;
  transition: all calc(var(--dur) / 3) linear;
}

.checkbox-wrapper-30 .checkbox input:hover,
.checkbox-wrapper-30 .checkbox input:checked {
  --newBrdr: calc(var(--size, 1) * 2);
}

.checkbox-wrapper-30 .checkbox input:hover {
  --newBrdrClr: var(--brdr-hovr);
}

.checkbox-wrapper-30 .checkbox input:checked {
  --newBrdrClr: var(--brdr-actv);
  transition-delay: calc(var(--dur) / 1.3);
}

.checkbox-wrapper-30 .checkbox input:checked + svg {
  --dashArray: 16 93;
  --dashOffset: 109;
}

.checkbox-wrapper-30 .checkbox svg {
  fill: none;
  left: 0;
  pointer-events: none;
  stroke: var(--stroke, var(--border-active));
  stroke-dasharray: var(--dashArray, 93);
  stroke-dashoffset: var(--dashOffset, 94);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
  top: 0;
  transition: stroke-dasharray var(--dur), stroke-dashoffset var(--dur);
}

.checkbox-wrapper-30 .checkbox svg,
.checkbox-wrapper-30 .checkbox input {
  display: block;
  height: 100%;
  width: 100%;
}

/* End Checkbox-wrapper-30 */

/* Header */
.header {
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  position: fixed;
  padding: 18px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.header .inner-left {
  font-weight: 800;
  font-size: 24px;
}

.header .inner-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.header .inner-right .inner-button {
  position: relative;
  display: flex;
  border: none;
  background-color: white;
}

.header .inner-right .inner-menu {
  display: none;
}

.header .inner-button .inner-icon {
  background-image: url("../images/icon-notify.png");
  width: 24px;
  height: 18px;
}

.header .inner-button .inner-number {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;
  background-color: #f93c65;
  font-weight: 700;
  font-size: 12px;
  color: #ffffff;
  position: absolute;
  top: -5px;
  left: 18px;
}

.header .inner-button .inner-tick {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: none;
  background-color: #ff0000;
  opacity: 0.3;
  position: absolute;
  bottom: -5px;
  left: 15px;
}

.header .inner-right .inner-profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header .inner-profile .inner-logo {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid black;
}

.header .inner-profile .inner-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.header .inner-profile .inner-inf .inner-name {
  font-weight: 700;
  font-size: 14px;
  color: #404040;
}

.header .inner-profile .inner-inf .inner-role {
  font-weight: 600;
  font-size: 12px;
  color: #565656;
}

@media (max-width: 991.98px) {
  .header .inner-right .inner-menu {
    display: block;
    font-size: 24px;
  }

  .header .inner-right .inner-menu i {
    color: var(--color-text);
  }
}

@media (max-width: 767.98px) {
  .header .inner-right {
    gap: 20px;
  }
}

@media (max-width: 575.98px) {
  .header {
    padding: 20px 15px;
  }
}

/* End Header */

/* Sider */
.sider {
  width: 240px;
  height: calc(100vh - 70px);
  border-right: 1px solid #e0e0e0;
  position: fixed;
  top: 70px;
  z-index: 10;
  background-color: #ffffff;
  overflow-y: auto;
}

.sider .inner-menu {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 10px 10px 24px;
}

.sider hr {
  width: 240px;
  border: 0.6px solid #e0e0e0;
}

.sider .inner-menu li {
  width: 100%;
  list-style: none;
}

.sider .inner-menu li a {
  position: relative;
  padding: 12px 20px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  color: var(--color-text);
}

.sider .inner-menu li a::before {
  content: "";
  width: 9px;
  height: 100%;
  border-radius: 4px;
  background-color: transparent;
  position: absolute;
  left: -28px;
}

.sider .inner-menu a.active,
.sider .inner-menu a:hover {
  background-color: var(--color-primary);
  color: #ffffff;
}

.sider .inner-menu a.active::before,
.sider .inner-menu a:hover::before {
  background-color: var(--color-primary);
}

.sider .inner-menu a.logout {
  color: #f93c65;
}

.sider li a .inner-label {
  font-weight: 600;
  font-size: 14px;
}

@media (max-width: 991.98px) {
  .sider {
    display: none;
    top: 0;
    left: 0;
    height: 100%;
  }

  .sider.active {
    display: block;
    z-index: 999;
  }

  .inner-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
    cursor: pointer;
  }

  .inner-overlay.active {
    display: block;
  }
}

/* End Sider */
