extends ../layouts/default.pug
include ../mixins/checkbox-30.pug

block main
	main.main
		h1.box-title Thông tin cá nhân
		.section-8
			form(action="" id="room-create-form")
				.inner-group 
					label.inner-label(for="newPassword") Mật khẩu mới 
					input(type="text" id="newPassword" name="newPassword" value="")
				.inner-group 
					label.inner-label(for="confirmNewPassword") Xác nhận mật khẩu mới 
					input(type="text" id="confirmNewPassword" name="confirmNewPassword" value="")
				.inner-button.inner-two-col
					button Đổi mật khẩu
		