extends ../layouts/default.pug

block main
	main.main
		.section-10
			img(src="/assets/images/error-404.png" class="inner-image")
			h1(class="inner-title") Trang này không tồn tại...
			a(href=`/dashboard` class="inner-back") Trở về trang tổng quan
