extends ../layouts/default.pug
include ../mixins/checkbox-30.pug

block main
	main.main 
		h1.box-title Lập báo cáo
		.main1
			//- Section 4
			.section-4
				.inner-wrap
					.inner-item.inner-label
						<i class="fa-solid fa-filter"></i> Bộ lọc
					.inner-item
						select(id="roomType")
							option(value="") Loại phòng
							option(value="A") Loại A
							option(value="B") Loại B
							option(value="C") Loại C
					.inner-item.inner-reset 
						button(type="button" id="applyBtnForReport") Áp dụng
			//- End Section 4
			//- Section 5
			.section-5
				.inner-wrap
					.inner-search
						<i class="fa-solid fa-magnifying-glass"></i>
						input(type="text" id="roomName" placeholder="Tìm kiếm tên phòng")
					.inner-button-create
						a(href="")  + Tạo báo cáo theo phòng
					.inner-button-create
						a(href="")  + Thêm báo cáo theo loại phòng
			//- End Section 5


		.section-7
			- let title = "Biểu đồ doanh thu"
			if roomType
				- title += `: loại phòng ${roomType}`
			if roomName
				- title += `, theo phòng ${roomName}`
			h2.box-title= title
			canvas(id="roomTypeChart" width="400" height="200")



block scripts
	script.
		const reportsData = !{reportsJson};
		console.log("reportsData ở frontend:", reportsData);

	script(src="/assets/js/script.js")
	script(src="https://cdn.jsdelivr.net/npm/chart.js")
	script(src="/assets/js/chart.js")

