extends ../layouts/default.pug
include ../mixins/checkbox-30.pug

block main
	main.main 
		h1.box-title Lập báo cáo
		.main1
			//- Section 4
			.section-4
				.inner-wrap
					.inner-item.inner-label
						<i class="fa-solid fa-filter"></i> Bộ lọc

					.inner-item
						label.inner-label(for="roomType") 
						select(id="roomType")
							option(value="") Loại phòng 
							option(value="Standard") Loại Standard
							option(value="Superior") Loại Superior
							option(value="Deluxe") Loại Deluxe

					.inner-item
						label.inner-label(for="startDate") Ngày bắt đầu
						input(type="date" id="startDate" name="startDate" required)

					.inner-item
						label.inner-label(for="endDate") Ngày kết thúc
						input(type="date" id="endDate" name="endDate" required)

					.inner-item.inner-reset 
						button(type="button" id="applyBtnForReport") Áp dụng
			//- End Section 4

			//- Section 5
			.section-5
				.inner-wrap
					.inner-search
						<i class="fa-solid fa-magnifying-glass"></i>
						input(type="text" id="roomName" placeholder="Tìm kiếm tên phòng")


		.section-7
			- let title = "Biểu đồ báo cáo"
			if roomType
				- title += ` doanh thu theo loại phòng ${roomType}`
			else if roomName
				- title += ` tổng ngày thuê theo phòng ${roomName}`
			else
				- title += " doanh thu khách sạn"
			h2.box-title= title

			canvas(id="roomTypeChart" width="400" height="200")

			.chart-container(style="width:500px; height:500px; display:flex; justify-content:center; align-items:center; margin:0 auto;")
				canvas(id="roomPieChart")



block scripts
	script.
		const reportsData = !{reportsJson};

	script(src="/assets/js/script.js")
	script(src="https://cdn.jsdelivr.net/npm/chart.js")
	script(src="/assets/js/chart.js")
	script(src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels")


