extends ../layouts/default.pug
include ../mixins/checkbox-30.pug

block main
	main.main 
		h1.box-title Lập báo cáo
		.main1
			//- Section 4
			.section-4
				.inner-wrap
					.inner-item.inner-label
						<i class="fa-solid fa-filter"></i> Bộ lọc
					.inner-item
						select
							option(value="") Loại phòng
							option(value="") Loại A
							option(value="") Loại B
					.inner-item
						select
							option(value="") Lễ tân phụ trách
							option(value="") Lễ tân 1
							option(value="") Lễ tân 2
					.inner-item.inner-date
						input(type="date")
						span -
						input(type="date")
					.inner-item.inner-reset Áp dụng
			//- End Section 4
			//- Section 5
			.section-5
				.inner-wrap
					.inner-search
						<i class="fa-solid fa-magnifying-glass"></i>
						input(type="text" placeholder="Tìm kiếm tên phòng")
					.inner-button-create
						a(href="")  + Tạo báo cáo theo phòng
					.inner-button-create
						a(href="")  + Thêm báo cáo theo loại phòng
			//- End Section 5

		//- Section 6
		.section-6 
			.table-2 
				table 
					thead 
						tr
							th.text-left Mã hóa đơn
							th.text-left Tên phòng
							th.text-left Loại phòng 
							th.text-center Khách thanh toán
							th.text-center Thành tiền
							th.text-left Lễ tân phụ trách
							th.text-left Thời điểm chi trả
					tbody 
						tr 
							td.text-left R001
							td.text-left 
								div Phòng A
							td.text-left Loại A
							td.text-center 1
							td.text-left 200,000 VND
							td.text-left Lê Văn A		
							td.text-left 16:30 - 20/10/2024
			.pagination
				select(class="inner-pagination")
					option Trang 1
					option Trang 2
					option Trang 3
				.inner-next
					i(class="fa-solid fa-chevron-right")
		//- End Section 6