extends ../layouts/default.pug
include ../mixins/checkbox-30.pug

block main
  main.main
    h1.box-title Thêm nhân viên

    .section-8
      form(action="" id="staff-create-form")
        .inner-group 
          label.inner-label(for="name") Họ tên
          input(type="text" id="name" name="name" placeholder="Nhập họ tên")

        .inner-group 
          label.inner-label(for="email") Email
          input(type="text" id="email" name="email" placeholder="Nhập email")

        .inner-group 
          label.inner-label(for="phone") Số điện thoại
          input(type="text" id="phone" name="phone" placeholder="Nhập số điện thoại")

        .inner-group 
          label.inner-label(for="type") Chức vụ
          select(id="type" name="type")
            option(value="") Chọn chức vụ
            option(value="STAFF") Lễ tân
            option(value="MANAGER") Quản lý

        .inner-group 
          label.inner-label(for="password") Mật khẩu
          input(type="password" id="password" name="password" placeholder="Nhập mật khẩu")

        .inner-button.inner-two-col
          button(type="submit") Tạo mới

      .inner-back 
        a(href="/staff") Quay lại danh sách
